img {
  position: absolute;
  max-width: 45%;
  height: 100%;
  object-fit: fill;
  filter: blur(4px);
  right: 0;
  bottom: 0;
  box-sizing: border-box;

}

.slides {
  display: none;
}

.text {
  letter-spacing: inherit;
  word-spacing: inherit;
  text-align: left;
  font-family: Roboto Black 90px;
  font-size: 4vw;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 25%;
}

div[style*="text-decoration"]:hover {
  text-decoration-thickness: 40% !important;
}

p {
  letter-spacing: inherit;
  font-size: 16px;
  font-size: 4vh;
  font-family: 'Open Sans Regular 16px';
  text-align: left;
  position: absolute;
  bottom: 33%;
  left: 5%;
  justify-content: left;
  line-height: 100%;
  width: 45%;
}

div.container button {
  font-family: Roboto Black 12px;
  font-size: 12px Tracking 1px;
  font-size: 2vw, 2vh;
  text-size-adjust: initial;
  width: 100%;
  height: 100%;
  background-color: white;
}

div.container button.snow {
  border: solid #90A8CE;
  color: #90A8CE;
}

div.container button.snow:hover {
  color: white !important;
  background-color: #90A8CE;
}

div.container button.forest {
  border: solid #647D5B;
  color: #647D5B;
}

div.container button.forest:hover {
  background-color: #647D5B;
  color: white !important;
}

div.container button.beach {
  border: solid #EFCDB0;
  color: #EFCDB0;
}

div.container button.beach:hover {
  background-color: #EFCDB0;
  color: white !important;
}

div.container {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 25%;
  height: 10%;
  overflow: hidden;
}

.card1,
.card2,
.card3 {
  width: 60%;
  height: 60%;
  transition: 0.8s;
  position: absolute;
  left: 20%;
  right: 10%;
  top: 16%;
  animation: zoom-in-zoom-out 8s ease-in infinite;
  z-index: 1;
}

.card1 img,
.card2 img,
.card3 img {
  filter: blur(0px);
}

.card1 img:hover,
.card2 img:hover,
.card3 img:hover {
  border-style: outset;
  border-top: none;
  border-left: none;
  border-right-width: 8pt;
  border-bottom-width: 8pt;
}

.card1 img:hover {
  border-color: #90A8CE;
}

.card2 img:hover {
  border-color: #647D5B;
}

.card3 img:hover {
  border-color: #EFCDB0;
}

@keyframes zoom-in-zoom-out {

  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.3, 1.3);
  }

  100% {
    transform: scale(1, 1);
  }
}