.container{
    width: auto;
    height: auto;
}
@media only screen and (max-width:620px){
    .container{
        width: 100%;
    }
}
.leftpane{
    width: 55%;
    height: auto;
    float:left;
    border-collapse: collapse;
    text-align: center;

}
.centered {
    position: fixed; /* or absolute */
    top: 30%;
    left: 20%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
.rightpane{
    width: auto;
    height: auto;
    position: fixed;
    margin-top: 0%;
    margin-left: 55%;
    border-left-style: ridge;
    border-left-color: #90A8CE;
    border-left-width: thin;
}
img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: none;
    filter: blur(5px);
    border-style: ridge;
    border-color: #90A8CE;
    border-width: thin;
}
body{
    margin: 0%;
}
.buttonSnow{
    border-radius: 1em #490202 solid;
    background-color: none;
}